# This is my personal Redis database. Please do not abuse it!
# If you rather use your own database, replace the address here.
export REDIS_URI="redis://h:p8a44427d23da79e57cdb2615ffbed5b4c43b1895880918ff3d03f9e9b3a374c7@ec2-35-170-129-44.compute-1.amazonaws.com:46009"
