.form-control:focus {
  border: 1px solid #fff;
}

.chat-bubble-user, .chat-bubble-my-user {
  float: left;
  width: 80%;
  position: relative;
}

.chat-bubble-my-user {
  float: right;
  margin-right: 35px;
}

.chat-content {
  overflow-y: scroll;
  background-color: #FFFFFF;
  position: relative;
  margin-bottom: 60px;
}

.chat-content ul li {
  list-style: none;
  margin-top: 20px;
}

.chat-content .chat-bubble-user p, .chat-content .chat-bubble-my-user p {
  background-color: #86BB71;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
}

.chat-content .chat-bubble-my-user p {
  background-color: #94C2ED;
}

.chat-textbox {
  padding: 15px 30px;
  width: 100%;
  background-color: #3A3A3A;
}

.chat-textbox input {
  width: 88%;
  height: 40px;
  color: #9FA5AF;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid #c1c1c1;
}

.chat-textbox i {
  color: #3A3A3A;
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  padding: 12px 0px;
  margin-left: 20px;
  cursor: pointer;
}

.chat-bubble-user span i, .chat-bubble-my-user span i {
  color: #86BB71;
  font-size: 12px;
}

.chat-bubble-my-user span i {
  color: #94C2ED;
}

.chat-bubble-my-user span {
  float: right;
}

.chat-bubble-my-user span small, .chat-bubble-user span small {
  color: #BDBDC2;
}

.chat-bubble-user:before {
  content: " ";
  position: absolute;
  top: 19px;
  left: 15px;
  bottom: 150px;
  border: 15px solid transparent;
  border-bottom-color: #86BB71;
  z-index: 1;
}

.chat-bubble-my-user:before {
  content: " ";
  position: absolute;
  top: 19px;
  right: 15px;
  bottom: 150px;
  border: 15px solid transparent;
  border-bottom-color: #94C2ED;
}
